body{
  background-color: #1a1a1e;
}

.tris {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &__restart{
    margin-top: 20px;

    &__btn{
      font-size: 30px;
      outline: none;
      border: none;
      color: #27282b;
      border-radius: 10px;
      font-weight: 900;
      padding: 8px;
      background-color: #16bdca;
      opacity: 0.8;

      &:hover{
        opacity: 1;
      }
    }
  }

  &__previous{
    display: flex;
    align-items: center;
    height: 100px;

    &__btn{
      margin: 2px;
      font-size: 20px;
      outline: none;
      border: none;
      color: #16bdca;
      border-radius: 10px;
      font-weight: 900;
      height: 40px;
      width: 40px;
      background-color: #27282b;
      opacity: 0.7;

      &--active{
        border: 1px solid #16bdca;
        opacity: 1;
      }
    }
  }



  &__winner{
    color: white;
    font-size: 20px;
  }

  &__table{
    display: flex;
    justify-content: center;
    align-items: center;


    &__btn{
      font-size: 60px;
      font-weight: 900;
      width: 70px;
      height: 70px;
      border: none;
      outline: none;
      border-radius: 20%;
      background-color: #27282b;
      color: #16bdca;



      &:hover{
        background-color: #16bdca;
        color: #27282b;
      }
    }
  }
}

button:disabled{
  opacity: 0.7;
  border: 1px solid #16bdca;
    background-color: #1a1a1e;
  &:hover{
    background-color: #1a1a1e;
  }
}
